<h3>Hey! You have to log in before using node-hero :/</h3>

<form action="/login" method="post">
    <input name="username" id="username" type="text" placeholder="Username"/>
    <input name="password" id="pasword" type="text" placeholder="Password"/>
    <input type="submit">
</form>